/* Reset and General Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #242323;
    padding: 0 24px;
}

.logo {
    font-size: 1.8em;
    font-weight: 500;
    color: #f0f0f0;
    margin-bottom: 0;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-menu .list {
    margin: 0 12px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-menu .list:hover {
    color: #6499ff;
}

.navbar-toggler-icon {
    display: none;
    color: #f0f0f0;
}

/* Main Content */
main {
    padding: 0 24px;
    /* Adjusted padding for smaller screens */
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    /* Limit maximum height for consistency */
    object-fit: contain;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: gray;
    padding: 16px 10px;
}

/* Sections Styling */
.section {
    padding: 20px 16px;
    /* Reduced padding for smaller screens */
    background-color: #ffffff;
    margin: 20px 0;
    /* Reduced margin for smaller screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-about {
    background-color: #121212;
    color: #f0f0f0;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

ul {
    margin-bottom: 0;
}

/* Footer Styling */
.footer {
    background-color: #ffffff;
    color: #121212;
    text-align: center;
    padding: 24px 0;
    border-top: 1px solid #ccc;
}

.social-icon a,
.footer a {
    color: #000000;
    margin: 0 8px;
    /* Reduced margin for smaller screens */
    font-size: 1.2em;
    /* Smaller font size for smaller screens */
    transition: transform 0.3s ease;
}

.social-icon a:hover,
.footer a:hover {
    transform: scale(1.2);
}


@media (max-width: 767px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        padding: 16px;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu .list {
        margin: 12px 0;
    }

    .navbar-toggler-icon {
        display: block;
        cursor: pointer;
    }

    h1 {
        font-size: 1.5rem;
    }

    .footer {
        padding: 24px 0;
    }

    .footer a {
        margin: 10px;
    }
}