/* Reset and General Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0e0e0e;
    color: #f0f0f0;
    line-height: 1.6;
}

.loading {
    height: 2px;
    background-color: #f44336;
    animation: load 1s ease-in-out 1;
}

@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #242323;
    padding: 0 24px;

}

.logo {
    font-size: 1.8em;
    font-weight: 500;
    color: #f0f0f0;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-menu .list {
    margin: 0 12px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-menu .list:hover {
    color: #6499ff;
}

.navbar-toggler-icon {
    display: none;
}

/* Sections Styling */
section {
    padding: 95px 0;
    margin: 0 auto;
    /* Center align */
    max-width: 100vw;
    /* Limit width */
}

.section-home {
    background-color: white;
    color: #121212;
    /* Adjust text color for contrast */
}

.section-about {
    background-color: #121212;
    color: #f0f0f0;
    /* Adjust text color for contrast */
}

.section-project {
    background-color: #ffffff;
    color: #121212;
    display: flex;
    justify-content: center;
    /* Adjust text color for contrast */
}

.section-contact {
    background-color: rgb(0, 0, 0);
    color: #f0f0f0;
    /* Adjust text color for contrast */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Align items vertically */
    background-color: inherit;
    /* Inherit section background */
    padding: 40px;
    /* Add padding for better readability */
    border-radius: 8px;
    /* Add rounded corners */
    /* Add subtle shadow */
}

.content-1 {
    text-align: center;
    margin-bottom: 80px;
    /* Add bottom margin */
}

.content-1 p {
    font-size: 2.5em;
    font-weight: 500;
    color: #6499ff;
    margin-bottom: 16px;
    text-align: center;
}

.content-1 h1 {
    margin: 16px 0;
    font-size: 2em;
    font-weight: 400;
}

.content-1 h1 span {
    color: #f44336;
}

.content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    max-width: 85vw;
    margin-bottom: 80px;
}

.content-container h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #c2d5fb;
    margin-bottom: 16px;
}

.content-container p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
}

.content-container .tab-content {
    margin-top: 20px;
    /* Adjust margin as needed */
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.title-content {
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    color: #f0f0f0;
    transition: color 0.3s ease;
}

.title-content:hover {
    color: #6499ff;
}

.subheading {
    font-size: 1.8em;
    /* Adjust font size smaller than h2 */
    font-weight: 400;
    /* Adjust font weight as needed */
    color: #c2d5fb;
    margin-top: 20px;
    /* Adjust margin as needed */
}

.tab-content ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping */
}

.tab-content ul li {
    font-size: 1em;
    margin-bottom: 8px;
    width: 50%;
    /* Each list item takes 50% width */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

/* Project Section */
.project {
    text-align: center;
    margin-bottom: 80px;
    /* Add bottom margin */
}

.project-title {
    font-size: 2.5em;
    font-weight: 500;
    color: #6499ff;
    margin-bottom: 32px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85vw;
}

.card {
    margin: 16px;
    max-width: 300px;
    background-color: #121212;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content p {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 8px;
    color: #f0f0f0;
}

.card-content a {
    font-size: 1em;
    color: #c2d5fb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card-content a:hover {
    color: #f44336;
}

.project-img {
    width: 100%;
    height: 268px;
    border-radius: 8px 8px 0 0;
}

/* Contact Section */
.contact {
    text-align: left;
    margin-bottom: 80px;
    /* Add bottom margin */
}

.contact h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #c2d5fb;
    margin-bottom: 32px;
    text-align: center;
}

.contact-container {
    max-width: 60vw;
    margin: 0 auto;
}

.contact-form {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    font-size: 1.2em;
    color: #020b1d;
    margin-bottom: 8px;
}

.contact .contact-form label {
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: none;
    background-color: #f4f0f0;
    color: #000000;
    border-radius: 6px;
    font-size: medium;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form label {
    text-align: center;
}

.btn {
    font-size: 1em;
    padding: 12px 24px;
    border: none;
    background-color: #c2d5fb;
    color: #121212;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f44336;
}


/* Footer Styling */
.footer {
    background-color: #ffffff;
    /* White background */
    color: #121212;
    /* Dark text color */
    text-align: center;
    padding: 24px 0;
}

.footer a {
    color: #000000;
    /* Link color */
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.footer a:hover {
    transform: scale(1.2);
}



/* Media Queries */
@media (max-width: 767px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 64px;
        /* Height of navbar */
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        /* Dark background */
        padding: 16px;
        flex-direction: column;
        /* Vertical list for toggle */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
        /* Ensure it's above other content */
        text-align: center;
        /* Center align text */
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items */
    }

    .nav-menu .list {
        margin: 12px 0;
        /* Vertical spacing */
    }

    .navbar-toggler-icon {
        display: block;
        cursor: pointer;
    }

    .logo {
        order: 1;
        /* Move logo to the top for better mobile layout */
    }

    /* Adjusted styles for smaller screens */
    .container {
        padding: 20px;
        /* Adjust padding for smaller screens */
    }

    .content-1 {
        margin-bottom: 40px;
        /* Add bottom margin */
    }

    .content-container {
        max-width: 90vw;
        margin-bottom: 80px;
    }

    .project {
        margin-bottom: 40px;
        /* Add bottom margin */
    }

    .project-img {
        height: 120px;
    }

    .project-container {
        justify-content: center;

    }

    .card {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
    }

    .card-content {
        width: 160px;
        /* Half width on smaller screens */
    }

    .card-content p {
        font-size: 16px;
    }


    .contact {
        margin-bottom: 40px;
        /* Add bottom margin */
    }

    .contact-container {
        padding: 0 16px;
        /* Adjust padding for smaller screens */
    }

    .footer {
        padding: 24px 0;
    }

    .footer a {
        display: block;
        margin: 10px 0;
    }
}